# UClamp tunings
on boot
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 128
    write /proc/sys/kernel/sched_util_clamp_min 256
	
    # system-background
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.max 35

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/foreground/cpu.uclamp.min 25
    write /dev/cpuctl/foreground/cpu.uclamp.max 85

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 30
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max 100

    # rt (real-time tasks: audio/video)
    write /dev/cpuctl/rt/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/rt/cpu.uclamp.min 70
    write /dev/cpuctl/rt/cpu.uclamp.max 100

    # foreground_window
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 35
    write /dev/cpuctl/foreground_window/cpu.uclamp.max 100

    # dex2oat
    write /dev/cpuctl/dex2oat/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/dex2oat/cpu.uclamp.min 0
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 25

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 50
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max 100

    # system
    write /dev/cpuctl/system/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system/cpu.uclamp.min 0
    write /dev/cpuctl/system/cpu.uclamp.max 35

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 45
    write /dev/cpuctl/top-app/cpu.uclamp.max 100

    # background
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.max 25
